body {
  font-family: sans-serif;
  background: #f5f5f5;
  padding: 20px;
}

#grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
  margin-bottom: 20px;
}

.row {
  display: grid;
  grid-template-columns: 80px repeat(16, 1fr); /* espace pour label */
  gap: 4px;
  align-items: center;
}

.rowLabel {
  text-align: right;
  font-weight: bold;
  padding-right: 8px;
}

.step {
  aspect-ratio: 1;
  background: #ddd;
  border-radius: 4px;
}

.step.active {
  background: #ffcc00;
}

.step.playing {
  outline: 2px solid black;
}

.pad {
  padding: 15px 25px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  background: #ffcc00;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
}
